@import "bootstrap/bootstrap";
@import "base/variables";

@import "component/card";

body {
  background: $brand-color1;
  padding-top: 70px;
}

pre.prettyprint {
 white-space: pre-wrap;
 white-space: -moz-pre-wrap;
 white-space: -pre-wrap;
 white-space: -o-pre-wrap;
 word-wrap: break-word;
}
