.form__input--search {
  display: inline-block;
  float: left;
  width: 75%;
}

.form__input--search-submit {
  float: right;
  display: inline-block;
  width: 25%;
}

.form-group--search {
  margin: 0;
  padding: 0;
}
