<div class="content__container">
  <div class="jumbotron">
    <h1>Pattern Box</h1>
    <p>The back end styleguide</p>
  </div>

  <h2>Most viewed patterns</h2>
  <ul class="list">
    <li class="list__item row" ui-sref="post">
      <div class="col-md-7">
        <h3>JS Promise based JQ magic thing</h3>
        <div class="label label-primary">JS</div>
        <div class="label label-primary">Q</div>
        <div class="label label-primary">JQuery</div>
        <div class="label label-primary">Pattern</div>
      </div>
      <div class="col-md-5 item__subsection">
        <p>Created by: A. Anon</p>
        <p>Last updated: 14/7/2015</p>
        <p><i class="fa fa-thumbs-up icon-pos"> 200</i> <i class="fa fa-eye"> 20,000</i></p>
      </div>
    </li>
    <li class="list__item row" ui-sref="post">
      <div class="col-md-7">
        <h3>JS Promise based JQ magic thing Anti-Pattern</h3>
        <div class="label label-primary">JS</div>
        <div class="label label-primary">Q</div>
        <div class="label label-primary">JQuery</div>
        <div class="label label-primary">Anti-Pattern</div>
      </div>
      <div class="col-md-5 item__subsection">
        <p>Created by: A. Anon</p>
        <p>Last updated: 14/7/2015</p>
        <p><i class="fa fa-thumbs-up icon-pos"> 200</i> <i class="fa fa-eye"> 20,000</i></p>
      </div>
    </li>
    <li class="list__item row" ui-sref="post">
      <div class="col-md-7 item__subsection">
        <h3>PHP based pattern</h3>
        <div class="label label-primary">PHP</div>
        <div class="label label-primary">SQL</div>
        <div class="label label-primary">Pattern</div>
      </div>
      <div class="col-md-5 item__subsection">
        <p>Created by: A. Anon</p>
        <p>Last updated: 14/7/2015</p>
        <p><i class="fa fa-thumbs-up icon-pos"> 200</i> <i class="fa fa-eye"> 20,000</i></p>
      </div>
    </li>
    <li class="list__item row" ui-sref="post">
      <div class="col-md-7">
        <h3>Pattern name</h3>
        <div class="label label-primary">PHP</div>
        <div class="label label-primary">SQL</div>
        <div class="label label-primary">Pattern</div>
      </div>
      <div class="col-md-5 item__subsection">
        <p>Created by: A. Anon</p>
        <p>Last updated: 14/7/2015</p>
        <p><i class="fa fa-thumbs-up icon-pos"> 200</i> <i class="fa fa-eye"> 20,000</i></p>
      </div>
    </li>
    <li class="list__item row" ui-sref="post">
      <div class="col-md-7">
        <h3>Pattern name</h3>
        <div class="label label-primary">PHP</div>
        <div class="label label-primary">SQL</div>
        <div class="label label-primary">Anti-Pattern</div>
      </div>
      <div class="col-md-5 item__subsection">
        <p>Created by: A. Anon</p>
        <p>Last updated: 14/7/2015</p>
        <p><i class="fa fa-thumbs-up icon-pos"> 100</i> <i class="fa fa-eye"> 20,000</i></p>
      </div>
    </li>
    <li class="list__item row" ui-sref="post">
      <div class="col-md-7">
        <h3>Pattern name</h3>
        <div class="label label-primary">PHP</div>
        <div class="label label-primary">SQL</div>
        <div class="label label-primary">Anti-Pattern</div>
      </div>
      <div class="col-md-5 item__subsection">
        <p>Created by: A. Anon</p>
        <p>Last updated: 14/7/2015</p>
        <p><i class="fa fa-thumbs-up icon-pos"> 100</i> <i class="fa fa-eye"> 20,000</i></p>
      </div>
    </li>
      <li class="list__item row" ui-sref="post">
      <div class="col-md-7">
        <h3>Pattern name</h3>
        <div class="label label-primary">PHP</div>
        <div class="label label-primary">SQL</div>
        <div class="label label-primary">Anti-Pattern</div>
      </div>
      <div class="col-md-5 item__subsection">
        <p>Created by: A. Anon</p>
        <p>Last updated: 14/7/2015</p>
        <p><i class="fa fa-thumbs-up icon-pos"> 100</i> <i class="fa fa-eye"> 20,000</i></p>
      </div>
    </li>
      <li class="list__item row" ui-sref="post">
      <div class="col-md-7">
        <h3>Pattern name</h3>
        <div class="label label-primary">PHP</div>
        <div class="label label-primary">SQL</div>
        <div class="label label-primary">Anti-Pattern</div>
      </div>
      <div class="col-md-5 item__subsection">
        <p>Created by: A. Anon</p>
        <p>Last updated: 14/7/2015</p>
        <p><i class="fa fa-thumbs-up icon-pos"> 100</i> <i class="fa fa-eye"> 20,000</i></p>
      </div>
    </li>
  </ul>
</div>


